asgiref
astroid
autopep8
colorama
dj-database-url
Django
django-heroku
gunicorn
isort
lazy-object-proxy
mccabe
psycopg2-binary
pycodestyle
pylint
python-decouple
pytz
six
sqlparse
typed-ast
whitenoise
wrapt
