{% extends 'base.html' %}
<!--  -->

{% block 'content' %}
<center>
  {{ my_answer }}
  <h1>{{num_1}} + {{ num_2 }}</h1>
  <br />

  <br /><br />
  <form action="{% url 'add' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Type Your Answer Here"
        name="answer"
      />
      <input type="hidden" name="old_num_1" value="{{num_1}}" />
      <input type="hidden" name="old_num_2" value="{{num_2}}" />
    </div>
    <br />
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</center>
{% endblock %}
