{% extends 'base.html' %}
<!--  -->

{% block 'content' %}
<center>
  {% if my_answer %}
  <!-- Checks if user entered answer or just simple page was called by checking if my_answer exists -->
  <div class="alert alert-{{color}} alert-dismissible fade show" role="alert">
    <strong>{{ my_answer }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}

  <h1>{{num_1}} / {{ num_2 }}</h1>

  <br /><br />
  <form action="{% url 'divide' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Type Your Answer Here"
        name="answer"
      />
      <input type="hidden" name="old_num_1" value="{{num_1}}" />
      <input type="hidden" name="old_num_2" value="{{num_2}}" />
    </div>
    <br />
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</center>
{% endblock %}
